body{
    background-color: #1C1C1C;
    font-family: "Inter", serif;
}

main{
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;        
}

.main-container{
    border: 1px solid #1C1C1C;
    background-color: white;
    max-width: 347px;
    padding: 10px;
}

/* input */
.color-picker-form{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 5px;
    margin-top: 10px;
}

.color-input{
    height:33px;
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    width: 60px;
    height: 40px;
    padding: 0;
    border-radius: 5px;
}

.scheme-options{
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    font-family: "Inter", serif;
}

.submit-btn{
    background-color: white;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    font-family: "Inter", serif;
}

/* palette */
.one-color-box{
    height: 250px;
}

.all-colors-box{
    display: flex;
    margin-top: 16px;
    height:292px;
}

.one-color-components{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.color-text{
    font-size:11px;
    align-self: center;
    color:#4C303F;
    font-weight: 600;;
}