body{
    background-color: #1C1C1C;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    border: 1px solid #1C1C1C;
    padding: 5px;
    background-color: white;
    max-width: 347px;;
}

/* input */
.color-picker-form{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.color-input{
    height:33px;
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    width: 60px;
    height: 40px;
    padding: 0;
    border-radius: 5px;
}

.scheme-options{
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

.submit-btn{
    background-color: white;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
}

/* palette */
.one-color-box{
    height: 250px;
}

.all-colors-box{
    display: flex;
    margin-top: 16px;
}

.one-color-components{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.color-text{
    font-size:small;
    align-self: center;
}